/* General settings */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  color: #333;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* Main container */

.main-container {
  display: flex;
  max-width: 65rem;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 3rem;
}

/* Headers */

.primary-header {
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
}

.secondary-header {
  font-size: 3.1rem;
  letter-spacing: 0.5px;
  text-align: center;
}

.ternary-header {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  text-align: center;
}

/* Battery Container */

.battery-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.battery-item-big {
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
  background: #fff;
}

.battery-item-small {
  border-radius: 1rem;
  width: 5rem;
  height: 7rem;
}

.battery-fill {
  transition: all 0.5s;
  background: linear-gradient(to right, white 100%, green 0);
}

/* Main Navigation */

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.main-nav-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.8rem;
  height: 2rem;
}

.main-nav-item a:link,
.main-nav-item a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: all 0.5s;
}

.main-nav-item a:hover,
.main-nav-item a:active {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
}
